<div class="row">
  <div class="col-md-6">
    <h3>The proposed timeline of the challenge is as follows:</h3>
    <table class="table table-striped">
      <tr> <td> January 31, 2021 </td>  <td> Registration for the challenge opens, release training data </td> </tr>
      <tr> <td> January 31, 2021 </td>  <td> Release baseline recipe  </td> </tr>
      
      <tr> <td> February 28, 2021 </td>  <td>Release blind test audio to participants</td> </tr>
     
      <tr> <td>March 2, 2021</td>  <td>Test trial upload begins</td> </tr>
      <tr> <td>March 26, 2021</td>  <td>Abstract submission deadline</td> </tr>
      <tr> <td>March 26, 2021</td>  <td> Final test trial upload deadline </td> </tr>
      <tr> <td>April 2, 2021</td>  <td> Interspeech final paper upload deadline</td> </tr>
        <tr> <td>June 15, 2021</td>  <td>Camera ready paper deadline</td> </tr>
        
    </table>
  </div>

</div>
